<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Formulario</title>
</head>
<body>

<h1 th:text="${title}">Título</h1>
<a th:href="@{/list}">Volver</a>

<div>
    <form th:action="@{/form}" method="post" th:object="${product}">
        <input th:if="${product.id != null}" type="hidden" th:field="*{id}">
        <div>
            <label for="name">Name</label>
            <div><input type="text" id="name" th:field="*{name}"/></div>
        </div>

        <div>
            <label for="price">Price</label>
            <div><input type="text" id="price" th:field="*{price}"/></div>
        </div>

        <div>
            <label for="creation">Date</label>
            <div><input type="date" id="creation" th:field="*{creation}"/></div>
        </div>

        <div>
            <label></label>
            <div><input type="submit" value="Create"/></div>
        </div>
    </form>
</div>

</body>
</html>
