<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<div th:if="${param.erro != null}" th:text="${param.error}"></div>
<div th:if="${param.succesc != null}" th:text="${param.succes}"></div>
<h1 th:text="${title}"></h1>
<a th:href="@{/form}"> crear+</a>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>name product</th>
        <th>price</th>
        <th>date</th>
        <th>edith</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product:${product}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.creation}"></td>
        <td><a th:href="@{/form/} + ${product.id}">Edith</a></td>
    </tr>
    </tbody>
</table>



</body>
</html>